input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, span.button:hover {
	border: 0px solid #666;
	}
.mce-i-pagelink{
	background:transparent url(../plugins/pagelink/img/pagelink.png) left top no-repeat !important;
}
.mce-i-droplets{
	background:transparent url(../plugins/droplets/img/droplets.png) left top no-repeat  !important;
}

.mce-window-head {padding: 19px 15px !important;}
